html {
    line-height: 2;
    font-size: 20px;
    text-align: left;
    font-family: Fira sans;
}

img {
    vertical-align: middle;
}

.card {
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    margin: auto;
    width: 90%;
    border: 1px solid white;
    border-radius: 7px;
}

.front {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    font-weight: 400;
    font-size: 45px;
    padding: 15px;
}

.back {
    font-weight: 100;
    padding: 40px 0px 40px 0px;
    color: #fff;
    font-size: 38px;
}
